.main-home-container {
    padding-left: 40px;
    padding-right: 40px;
}
.company-logo-image {
    width: 520px;
    height: 80px;
}
.banner-image {
    width: 100%;
}
@media screen and (max-width:767px){
    .company-logo-image {
        height: 60px;
        width: 300px;
    }
}