.footer-container{
    background-color: #F0FFE5;
    padding: 20px 50px;

}
.footer-inside-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-inside-container1 {
    width: 278px;
    margin-right: 10px;
}
.about-us-container {
    width: 184px;
}
.our-services-container {
    width: 193px;
}

.user-links-container {
    width: 193px;
}
.get-in-touch-container {
    width: 218px;
}
.email-input {
    width: 269px;
    padding: 10px 2px;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    border-width: 1px;
}
.subscribe-button {
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    background-color:#247822;
    color: #ffffff;
    margin-top: 10px;
    border-width: 0px;
    font-weight: 600;
    font-size: 16px;
}
.about-us-unordered-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    margin-left: 0px;
    width: 184px;   
    height: 165px;
    font-weight: 400;
}

.description-color {
    color: #838383;
}
.user-links {
    height: 198px;
}
.get-in-touch {
    width: 218px;
    font-size: 15px;
    line-height: 22.5px;
}
.care-of-address {
    font-size: 13px;
    font-weight: 500;
}
.chaperone-description {
    font-size: 16px;
    font-weight: 400;
}
.call {
    margin-top: 20px;
}
.social-media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}
.social-media-images {
    height: 26px;
    width: 26px;
}
.horizontal-line {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}
.rights {
    font-size: 16px;
}

@media screen and (max-width:767px){
    .medium-footer1-container {
        display: flex;
    }
    .medium-footer2-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-inside-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .chaperone-container{
        margin-top: 50px;

    }
}
.medium-footer1-container {
    display: flex;
}
.medium-footer2-container {
    display: flex;
}